[submodule "assignment-1/assignment-one-java-sequential-performance-2024"]
	path = assignment-1/assignment-one-java-sequential-performance-2024
	url = https://courses-git.cms.waikato.ac.nz/em163/assignment-one-java-sequential-performance-2024.git
